<h1>Sign in</h1>
<div class='form-container'>
  <form action='/signin' method='POST'>
    <input type='text' name='user[username]' placeholder='Username' id='username' class='text-input' required >
    <input type='password' name='user[password]' placeholder='Password' id='password' class='text-input' required >
    <input type='submit' class='submit-button' value='Sign in'>
  </form>
</div>
