@keyframes wait {
  from {
    opacity: 100%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

html {
  background: #d8ebf2;
  font-family: Nunito, 'Nunito', -apple-system, BlinkMacSystemFont, 'Noto Sans',
    'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

body {
  background: #d8ebf2;
  font-family: Nunito, 'Nunito', -apple-system, BlinkMacSystemFont, 'Noto Sans',
    'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

ul {
  padding-left: 0px;
}

li {
  margin: 0px;
}

a,
a :visited :active {
  color: #0588a6;
  text-decoration: none;
  transition: all ease 250ms;
}
a:hover {
  transition: all ease 250ms !important;
  color: #00afd7;
}
ul {
  margin-bottom: 0px;
}

.layout {
  width: 100%;
  text-align: center;
}

.flash {
  animation: 3s ease-out 0s 1 wait, 0.5s ease-out 3s 1 fade;
  opacity: 0%;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  max-width: max-content;
  color: white;
  background-color: gray;
  border-radius: 6px;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 48px;
  padding-right: 48px;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
    1px 6px 10px rgba(39, 44, 49, 0.12);
  .flash-close-button {
    position: relative;
    top: -16px;
    right: -106%;
    color: black !important;
    transform: scale(2);
    background: white !important;
    border-radius: 6px;
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-right: -32px;
    text-decoration: none;
  }
  .flash-content {
    position: relative;
    top: 8px;
  }
}

.flash-error {
  background-color: crimson;
}

.flash-success {
  background-color: hsl(160, 75%, 40%);
}

.flash-info {
  background-color: dodgerblue;
}

.form-container {
  form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
      margin: 0 auto;

    .text-input {
      width: 10em;
    }
    label {
      input {
      }
    }
    .file-upload {
      width: fit-content;
    }
    .submit-button {
        margin: 0 auto;

      width: fit-content;
    }
  }
}

.image-container {
  position: relative;
  text-align: center;
  max-width: fit-content;
  max-height: fit-content;
  img {
    width: 100%;
    height: 100%;
  }
  p {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    left: 0%;
    right: 0%;
    font-family: Impact;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white !important;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
      -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
      -2px 0px 0 #000, 2px 2px 5px #000;
  }

  .top-caption {
    bottom: -2em;
  }

  .bottom-caption {
    top: -2em;
  }
}

.memes-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 32px;
  row-gap: 32px;
  margin: 1em;
  text-align: center;
  place-items: center;
  .meme-link {
    margin: auto;
    padding: 0px;
    .meme {
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
      transition: all ease 250ms;
      border-radius: 8px;
      background-color: white;
      height: fit-content;
      padding: 1em;
      &:hover {
        transition: all ease 250ms;
        box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.48),
          1px 6px 10px rgba(39, 44, 49, 0.24);
        transform: scale(1.05);
      }

      h2 {
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 0;
      }
      img {
        object-fit: cover;
        max-height: 480px;
        padding: 0px;
        margin: 0px;
        border-radius: 8px;
      }
    }
  }
}

@media (min-width: 512px) {
  .memes-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .memes-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
