@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@keyframes wait {
  from {
    opacity: 90%;
  }
  to {
    opacity: 90%;
  }
}

@keyframes fade {
  from {
    opacity: 90%;
  }
  to {
    opacity: 0%;
  }
}

html {
  background: #d8ebf2;
  font-family: Nunito, 'Nunito', -apple-system, BlinkMacSystemFont, 'Noto Sans',
    'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

body {
  background: #d8ebf2;
  font-family: Nunito, 'Nunito', -apple-system, BlinkMacSystemFont, 'Noto Sans',
    'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
}

ul {
  padding-left: 0px;
}

li {
  margin: 0px;
}

a,
a :visited :active {
  color: #0588a6;
  text-decoration: none;
  transition: all ease 250ms;
}
a:hover {
  transition: all ease 250ms !important;
  color: #00afd7;
}
ul {
  margin-bottom: 0px;
}

nav {
  padding-bottom: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 32px;
  a {
    div {
      transition: all ease 100ms;
      background: #0588a6;
      margin: 0px;
      padding: 0.333em;
      padding-left: 1em;
      padding-right: 1em;
      color: white;
      max-width: max-content;
      border-radius: 4px;
      height: max-content;
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
        1px 6px 10px rgba(39, 44, 49, 0.06);
      &:hover {
        transform: scale(1.05);
        box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
          1px 6px 10px rgba(39, 44, 49, 0.12);
        color: white;
        background: #00afd7;
      }
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.header {
  box-sizing: border-box;
  background: #153259;
  color: white;
  left: 0px;
  width: 100vw;
  z-index: 1;
  overflow: hidden;
}

.flash {
  z-index: 1000;
  animation: 3s ease-out 0s 1 wait, 0.5s ease-out 3s 1 fade;
  backdrop-filter: blur(6px);
  opacity: 0%;
  position: absolute;
  top: 13.15vh;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  max-width: max-content;
  color: white;
  background-color: gray;
  border-radius: 6px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 48px;
  padding-right: 48px;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
    1px 6px 10px rgba(39, 44, 49, 0.12);
  .flash-close-button {
    opacity: inherit;
    backdrop-filter: blur(6px);
    transition: 100ms all;
    position: relative;
    top: -12px;
    right: -102.5%;
    color: black;
    background: white;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-right: -48px;
    text-decoration: none;
    max-width: min-content;
    max-height: min-content;
    transform: scale(0.9);
    &:hover,
    &:focus {
      color: white;
      background-color: orangered;
    }
  }
  .flash-content {
    position: relative;
    top: -16px;
  }
}

.flash-error {
  background-color: crimson;
}

.flash-success {
  background-color: hsl(160, 75%, 40%);
}

.flash-info {
  background-color: dodgerblue;
}

.form-container {
  display: flex;
  flex-direction: column;
  place-content: center;
  form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 0 auto;
    input {
      font-size: larger;
    }
    .text-input {
      width: 100%;
    }
    .submit-button,
    .file-upload {
      transition: all ease 100ms;
      background: #0588a6;
      margin: auto;
      margin-bottom: 0.35em;
      padding: 0.333em;
      padding-left: 1em;
      padding-right: 1em;
      color: white;
      width: 100%;
      border-radius: 4px;
      height: max-content;
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
        1px 6px 10px rgba(39, 44, 49, 0.06);
      border: none;
      &:hover {
        transform: scale(1.025);
        color: white;
        background: #00afd7;
      }
    }
  }
}

.outer-container {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: auto;
  padding: 0px;
}

.inner-container {
  position: relative;
  text-align: center;
  height: fit-content;
  img {
    width: 100%;
    height: 100%;
  }
  p {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    left: 0%;
    right: 0%;
    font-family: Impact;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white !important;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
      -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
      -2px 0px 0 #000, 2px 2px 5px #000;
  }

  .top-caption {
    bottom: -2em;
  }

  .bottom-caption {
    top: -3em;
  }
}

.memes-container {
  display: flex;
  column-gap: 32px;
  row-gap: 32px;
  flex-wrap: wrap;
  flex-basis: 320px;
  margin: 1em;
  text-align: center;
  place-items: center;
  .meme-link {
    flex-grow: 1;
    flex-shrink: 1;
    width: 320px;
    max-width: 480px;
    margin: auto;
    padding: 0px;
    .meme {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 16px;
      column-gap: 16px;
      padding: 1em;
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
      transition: all ease 250ms;
      border-radius: 8px;
      background-color: white;
      &:hover {
        transition: all ease 250ms;
        box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.48),
          1px 6px 10px rgba(39, 44, 49, 0.24);
        transform: scale(1.025);
      }
      p {
        max-width: fit-content;
        margin: auto;
        padding: 0px;
      }
      h2 {
        margin: auto;
        margin-top: 0.5em;
        margin-bottom: 0;
        max-width: fit-content;
      }
      img {
        object-fit: contain;
        padding: 0px;
        margin: 0px;
        width: 100%;
        max-height: 480px;
      }
    }
  }
}

.link {
  margin: 0.5em;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 1em;
  div {
    transition: all ease 100ms;
    background: #0588a6;
    margin: 0px;
    padding: 0.333em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    max-width: max-content;
    border-radius: 4px;
    height: max-content;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
      1px 6px 10px rgba(39, 44, 49, 0.06);
    &:hover {
      transform: scale(1.05);
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
      color: white;
      background: #00afd7;
    }
  }
}

.user-links {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: max-content;
  .user-link {
    text-align: center;
    transition: all ease 100ms;
    background: #0588a6;
    margin: auto;
    padding: 0.333em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    min-width: 12em;
    border-radius: 4px;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
      1px 6px 10px rgba(39, 44, 49, 0.06);
    &:hover {
      transform: scale(1.025);
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
      color: white;
      background: #00afd7;
    }
  }
}

form button {
  font-size: larger;
  transition: all ease 100ms;
  background: #0588a6;
  margin: auto;
  margin-top: 1em;
  padding: 0.333em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  width: 100%;
  border-radius: 4px;
  height: max-content;
  box-shadow: 6px 12px 20px rgba(84, 108, 133, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);
  border: none;
  &:hover {
    transform: scale(1.025);
    color: white;
    background: #00afd7;
  }
}
