@font-face {
  font-family: 'Comic Relief';
  src: url('../fonts/ComicRelief/ComicRelief.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito', monospace;
  src: url('../fonts/Nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@keyframes wait {
  from {
    opacity: 90%;
  }
  to {
    opacity: 90%;
  }
}

@keyframes fade {
  from {
    opacity: 90%;
  }
  to {
    opacity: 0%;
  }
}

html {
  font-family: 'Comic Sans', 'Comic Relief', Nunito, 'Nunito', -apple-system,
    BlinkMacSystemFont, 'Noto Sans', 'Segoe UI', 'Helvetica Neue', Arial,
    sans-serif;
  height: 100%;
  margin: 0px;
}

body {
  background: #d8ebf2;
  font-family: 'Comic Sans', 'Comic Relief', Nunito, 'Nunito', -apple-system,
    BlinkMacSystemFont, 'Noto Sans', 'Segoe UI', 'Helvetica Neue', Arial,
    sans-serif;
  height: 100%;
  margin: 0px;
}

ul {
  padding-left: 0px;
}

li {
  margin: 0px;
}

a,
a :visited :active {
  color: #3783e6;
  text-decoration: none;
  transition: all ease 250ms;
}
a:hover {
  transition: all ease 250ms !important;
  color: #3a8af2;
}
ul {
  margin-bottom: 0px;
}

nav {
  padding-bottom: 32px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: auto;
  column-gap: 32px;
  row-gap: 32px;
  font-size: larger;
  max-width: 720px;
  a {
    div {
      transition: all ease 100ms;
      background: #3783e6;
      margin: 0px;
      padding: 0.333em;
      padding-left: 1em;
      padding-right: 1em;
      color: white;
      max-width: max-content;
      border-radius: 4px;
      height: max-content;
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
        1px 6px 10px rgba(39, 44, 49, 0.06);
      &:hover {
        transform: scale(1.05);
        box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
          1px 6px 10px rgba(39, 44, 49, 0.12);
        color: white;
        background: #3a8af2;
      }
    }
  }
}

.star {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 20px;
  left: 0px;
  right: -420px;
  margin: auto;
  transform: scale(0.5);
}

.wow {
  font-family: serif, 'Comic Sans', 'Comic Relief';
  font-size: 32px;
  position: absolute;
  top: 16px;
  left: -480px;
  right: 0px;
  margin: auto;
  transform-origin: center;
  transform: rotate(15deg);
  background-color: #fa317e;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  line-height: 1em;
}

.layout {
  display: block;
  text-align: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: -80px;
}

.footer {
  height: 80px;
  background: #153259;
}

.push {
  height: 80px;
}

.header {
  position: relative;
  box-sizing: border-box;
  background: #153259;
  color: white;
  left: 0px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  top: 0px;
  padding: 0px;
  margin: 0px;
  h1 {
    font-family: Impact;
    font-size: 3em;
    text-transform: uppercase;
    color: white !important;
    letter-spacing: 1px;
    text-shadow: 3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000,
      -3px 3px 0 #000, 0px 3px 0 #000, 3px 0px 0 #000, 0px -3px 0 #000,
      -3px 0px 0 #000, 3px 3px 5px #000;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #00afd7;
    width: fit-content;
    border-radius: 6px;
  }
}

.flash {
  z-index: 1000;
  animation: 3s ease-out 0s 1 wait, 0.5s ease-out 3s 1 fade;
  backdrop-filter: blur(6px);
  opacity: 0%;
  position: absolute;
  top: 32px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  max-width: max-content;
  color: white;
  background-color: gray;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 20em;
  padding-left: 48px;
  padding-right: 48px;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
    1px 6px 10px rgba(39, 44, 49, 0.12);
  .flash-close-button {
    opacity: inherit;
    backdrop-filter: blur(6px);
    transition: 100ms all;
    position: relative;
    top: -12px;
    right: -102.5%;
    color: black;
    background: white;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-right: -48px;
    text-decoration: none;
    max-width: min-content;
    max-height: min-content;
    transform: scale(0.9);
    &:hover,
    &:focus {
      color: white;
      background-color: orangered;
    }
  }
  .flash-content {
    position: relative;
    top: -16px;
  }
}

.flash-error {
  background-color: crimson;
}

.flash-success {
  background-color: hsl(160, 75%, 40%);
}

.flash-info {
  background-color: dodgerblue;
}

.form-container {
  display: flex;
  flex-direction: column;
  place-content: center;
  form {
    display: flex;
    flex-direction: column;
    min-width: 20em;
    width: fit-content;
    margin: 0 auto;
    input {
      font-size: larger;
    }
    .text-input {
      width: 100%;
    }
    .submit-button,
    .file-upload {
      transition: all ease 100ms;
      background: #3783e6;
      margin: auto;
      margin-bottom: 0.35em;
      padding: 0.333em;
      padding-left: 1em;
      padding-right: 1em;
      color: white;
      width: 100%;
      border-radius: 4px;
      height: max-content;
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
        1px 6px 10px rgba(39, 44, 49, 0.06);
      border: none;
      &:hover {
        transform: scale(1.025);
        color: white;
        background: #3a8af2;
      }
    }
  }
}

.outer-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: auto;
  padding: 0px;
}

.inner-container {
  position: relative;
  text-align: center;
  vertical-align: middle;
  max-width: fit-content;
  max-height: fit-content;
  margin: 0px;
  padding: 0px;
  line-height: 0em;
  img {
    min-width: 800px;
    height: auto;
    padding: 0px;
    margin: 0px;
  }
  p {
    position: absolute;
    text-align: center;
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    left: 0;
    right: 0;
    line-height: 1em;
    font-family: Impact;
    font-size: 3em;
    text-transform: uppercase;
    color: white !important;
    letter-spacing: 1px;
    text-shadow: 3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000,
      -3px 3px 0 #000, 0px 3px 0 #000, 3px 0px 0 #000, 0px -3px 0 #000,
      -3px 0px 0 #000, 3px 3px 5px #000;
  }

  .top-caption {
    top: 8px;
  }

  .bottom-caption {
    bottom: 8px;
  }
}

.meme {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 16px;
  column-gap: 16px;
  padding: 16px;
  margin-top: 1em;
  max-width: 600px;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
    1px 6px 10px rgba(39, 44, 49, 0.12);
  transition: all ease 250ms;
  border-radius: 8px;
  background-color: white;
  &:hover {
    transition: all ease 250ms;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.48),
      1px 6px 10px rgba(39, 44, 49, 0.24);
  }
  p {
    max-width: fit-content;
    margin: auto;
    padding: 0px;
  }
  h2 {
    margin: auto;
    max-width: fit-content;
    font-weight: 600;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 6px;
  }
  img {
    object-fit: contain;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-height: 600;
    border-radius: 4px;
  }
}

.memes-container {
  display: flex;
  column-gap: 32px;
  row-gap: 32px;
  flex-wrap: wrap;
  flex-basis: 320px;
  margin: 16px;
  justify-content: center;
  align-items: center;
  .meme-link {
    flex-grow: 1;
    flex-shrink: 1;
    width: 320px;
    max-width: 480px;
    padding: 0px;
    .meme {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 16px;
      column-gap: 16px;
      padding: 1em;
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
      transition: all ease 250ms;
      border-radius: 8px;
      background-color: white;
      &:hover {
        transition: all ease 250ms;
        box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.48),
          1px 6px 10px rgba(39, 44, 49, 0.24);
        transform: scale(1.025);
      }
      p {
        max-width: fit-content;
        margin: auto;
        padding: 0px;
      }
      h2 {
        margin: auto;
        margin-top: 0.5em;
        margin-bottom: 0;
        max-width: fit-content;
      }
      img {
        object-fit: contain;
        padding: 0px;
        margin: 0px;
        width: 100%;
        max-height: 480px;
        border-radius: 4px;
      }
    }
  }
}

.slider {
  margin-top: 0px !important;
  vertical-align: middle;
  align-items: center;
}

.slider-meme {
  margin: auto;
  max-width: 400px !important;
  h2 {
    font-size: 32px;
  }
}

.link {
  margin: 0px;
  max-width: fit-content;
  margin: auto;
  font-size: larger;
  vertical-align: middle;
  div {
    transition: all ease 100ms;
    background: #3783e6;
    min-width: 3em;
    margin: 0px;
    padding: 0.333em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    max-width: max-content;
    border-radius: 4px;
    height: max-content;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
      1px 6px 10px rgba(39, 44, 49, 0.06);
    &:hover {
      transform: scale(1.05);
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
      color: white;
      background: #3a8af2;
    }
  }
}

.user-links {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: max-content;
  .link {
    margin-bottom: 1em;
    .user-link {
      text-align: center;
      transition: all ease 100ms;
      background: #3783e6;
      margin: auto;
      padding: 0.333em;
      padding-left: 1em;
      padding-right: 1em;
      color: white;
      min-width: 12em;
      border-radius: 4px;
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
        1px 6px 10px rgba(39, 44, 49, 0.06);
      &:hover {
        transform: scale(1.025);
        box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
          1px 6px 10px rgba(39, 44, 49, 0.12);
        color: white;
        background: #3a8af2;
      }
    }
  }
}

form {
  font-family: 'Comic Sans', 'Comic Relief', 'Nunito';
  margin: auto;
  padding: 0px;
  max-height: fit-content;
  button {
    font-family: 'Comic Sans', 'Comic Relief', 'Nunito';
    font-size: larger;
    transition: all ease 100ms;
    background: #3783e6;
    margin: auto;
    padding: 0.333em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    width: 100%;
    border-radius: 4px;
    height: max-content;
    box-shadow: 6px 12px 20px rgba(84, 108, 133, 0.12),
      1px 6px 10px rgba(39, 44, 49, 0.06);
    border: none;
    &:hover {
      transform: scale(1.025);
      color: white;
    }
  }
  input {
    font-family: 'Comic Sans', 'Comic Relief', 'Nunito';
  }
  .link {
    font-size: larger;
    transition: all ease 100ms;
    background: #3783e6;
    margin: 0px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    max-width: fit-content;
    border-radius: 4px;
    height: max-content;
    box-shadow: 6px 12px 20px rgba(84, 108, 133, 0.12),
      1px 6px 10px rgba(39, 44, 49, 0.06);
    border: none;
    &:hover {
      transform: scale(1.06);
      color: white;
      background: #3a8af2;
      box-shadow: 6px 12px 20px rgba(84, 108, 133, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
    }
  }
}

.edit-delete {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  text-align: center;
  justify-content: space-between;
  vertical-align: middle;
  align-items: baseline;
}

.delete-button {
  color: white !important;
  margin: auto;
  background-color: #d61560 !important;
  &:hover {
    background-color: #fa317e !important;
  }
}

.tingle-modal-box {
  background: transparent !important;
  width: 100% !important;
  .tingle-modal-box__footer {
    text-align: center;
    background-color: transparent;
    .create-button {
      font-family: 'Comic Sans', 'Comic Relief', 'Nunito';
      padding: 16px;
      border-radius: 6px;
      font-size: larger;
    }
  }
}

.editing-original-text {
  padding: 0px;
  margin: auto;
  margin-bottom: 8px;
}

.tns-horizontal.tns-subpixel > .tns-item {
  vertical-align: middle !important;
  margin-top: 16px;
  margin-bottom: 32px;
  &:hover {
    transform: scale(1.025);
  }
}

div.tns-controls {
  margin: auto;
  max-width: fit-content;
  button {
    font-family: 'Comic Sans', 'Comic Relief', 'Nunito';
    padding: 12px;
    border-radius: 6px;
    font-size: large;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 6px 12px 20px rgba(84, 108, 133, 0.24),
      1px 6px 10px rgba(39, 44, 49, 0.12);
    border: none;
    min-width: 7em;
    transition: 100ms all;
    &:hover {
      background-color: #3a8af2;
      transform: scale(1.06);
      box-shadow: 6px 12px 20px rgba(84, 108, 133, 0.36),
        1px 6px 10px rgba(39, 44, 49, 0.18);
    }
  }
}

.meme-name {
  font-size: 1.5em;
}

.tns-outer > button {
  display: none;
}

.latest-memes-header {
  font-family: Impact;
  font-size: 2em;
  text-transform: uppercase;
  color: white !important;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
    -2px 0px 0 #000, 2px 2px 4px #000;
  margin: auto;
  margin-top: 16px;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #d61560;
  width: fit-content;
  border-radius: 6px;
}

.timestamps {
  display: flex;
  flex-direction: row;
  p {
    max-width: fit-content;
  }
}

.comments-header {
  margin-top: 1em;
}

.comment-form-container {
  margin-bottom: 3em;
  textarea {
    font-family: 'Comic sans', 'Comic Relief';
    font-size: large;
    min-width: 35em;
  }
}

.comments-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  .comment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid gray;
    .delete-button {
      margin-top: -3em;
      margin-right: -6em;
      font-size: large;
    }
    .comment-text {
      margin: 0px;
      border: 1px  solid gray;
      background-color: #f0f0f0;
      border-radius: 6px;
      padding: 16px;
      width: 30em;
      min-height: 3em;
      text-align: left;
      vertical-align: text-top;
    }
  }
}

.account-info {
  font-size: smaller;
  background-color: #d61560;
  padding: 8px;
  margin: 0px;
  color: white !important;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  transition: 100ms all;
  max-width: fit-content;
  p {
    margin: 0px;
  }
}
