<h1>Create a meme</h1>
<div class='form-container'>
  <form enctype="multipart/form-data" id='meme-form' onSubmit='return formSubmit(event)'>
    <input type='text' name='meme[name]' placeholder='Name' id='name' class='text-input' required >
    <input type='text' name='meme[top_caption]' placeholder='Top caption' id='top-caption' class='text-input' required >
    <input type='text' name='meme[bottom_caption]' placeholder='Bottom caption' id='bottom-caption' class='text-input' required >
    <input type='file' accept='image/*' name='meme[image]' id='image-upload' class='image-upload' required >
    <input type='submit' class='submit-button' value='Create'>
  </form>
</div>

<% js_custom_add("

const formSubmit = (event) => {
  event.preventDefault()

  let outerContainer = document.createElement('div')
  let innerContainer = document.createElement('div')
  let image = document.createElement('img')
  let topCaptionH1 = document.createElement('h1')
  let bottomCaptionH1 = document.createElement('h1')

  let reader = new FileReader()
  let name = event.target[0].value
  let file = event.target[3].files[0]
  let topCaption = event.target[1].value
  let bottomCaption = event.target[2].value
  
  innerContainer.className = 'image-container'
  image.className = 'meme-image'
  topCaptionH1.className = 'top-caption'
  bottomCaptionH1.className = 'bottom-caption'
  topCaptionH1.innerHTML = topCaption
  bottomCaptionH1.innerHTML = bottomCaption
  
  reader.addEventListener('load', (event) => {
    image.src = event.target.result
  })
  reader.readAsDataURL(file)

  innerContainer.appendChild(topCaptionH1)
  innerContainer.appendChild(image)
  innerContainer.appendChild(bottomCaptionH1)
  outerContainer.appendChild(innerContainer)
  document.querySelector('.layout').appendChild(outerContainer)

  const formData = new FormData()

  formData.append('meme[name]', name)
  formData.append('meme[top_caption]', topCaption)
  formData.append('meme[bottom_caption]', bottomCaption)
  formData.append('meme[html]', outerContainer.innerHTML)

  const buttonSubmit = () => {
    fetch('/memes/create', {
      method: 'POST',
      body: formData
    })
    .then(response => console.log(response))
  }

  let button = document.createElement('button')
  button.innerHTML = 'Save meme'
  button.onclick = buttonSubmit
  document.querySelector('.layout').appendChild(button)
  
  return false
}

const submitMeme = () => {

}
") %>
