<h1>Memes</h1>
<% if !@memes&.empty? %>
  <div class='memes-container'>
    <% @memes.reverse.each do |meme| %>
    <a href='/memes/<%= meme.id %>' class='meme-link'>
      <div class='meme'>
        <h2 class='meme-name'><%= meme.name %></h2>
        <p>Author: <%= meme.user.username %></p>
        <img class='meme-image' src='<%= meme.image.url %>' />
      </div>
    </a>
    <% end %>
  </div>
<% else %>
  <p>No memes have been created yet. Sign up and create one!</p>
<% end %>
