<h1>Memes</h1>
<div class='memes-container'>
  <% @memes.each do |meme| %>
    <h2 class='meme-name'><%= meme.name %></h2>
    <img class='meme-image' src='<%= meme.image.url %>' />
  <% end %>
</div>
