<% if signed_in? && current_user&.admin %>
  <a href='/users/<%= @user.id %>'>
    Moderate this account
  </a>
<% end %>
<h2 class='header2'><%= @user.username %>'s followers</h2>
<% if !@followers.empty? %>
<div class='followers-container'>
  <% @followers.each do |follower| %>
      <a href='/users/<%= follower.id %>' class='follower'>
        <%= follower.username %>
      </a>
  <% end %>
</div>
<% else %>
  <p>There are no followers to display!</p>
<% end %>
