<h2 class='header2'>Users</h2>
<div class='followers-container'>
  <% @users.each do |user| %>
      <a href='/users/<%= user.id %>' class='follower'>
        <%= user.username %>
      </a>
  <% end %>
</div>
