<h1><%= @user.username %>'s memes</h1>
<% if !@memes&.empty? %>
  <div class='memes-container'>
    <% @memes.reverse.each do |meme| %>
      <a href='/memes/<%= meme.id %>' class='meme-link'>
        <div class='meme'>
          <h2 class='meme-name'><%= meme.name %></h3>
          <img src='<%= meme.image.url %>' class='meme-image' />
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <p>There are no memes to display! Create one now at <a href='/memes/new'>the meme creation page!</a></p>
<% end %>
