<div class='meme'>
  <h2><%= @meme.name %></h1>
  <a href='<%= @meme.image.url %>'>
    <img src='<%= @meme.image.url %>'/>
  </a>
  <a href='/memes/<%= @meme.id %>/edit' class='link'>
    <div>Edit</div>
  </a>
</div>
