<h1><%= @user.username %>'s account</h1>
<div class='users-container'>
  <div class='user-links'>
    <a href='/memes/new' class='link'>
      <p class='user-link'>Create a new meme</p>
    </a>
    <a href='/users/<%= @user.id %>/memes' class='link'>
      <p class='user-link'>View my saved memes</p>
    </a>
    <a href='/users/<%= @user.id %>/edit' class='link'>
      <p class='user-link'>Edit my account</p>
    </a>
  </div>
</div>
