<h1>Account</h1>
<div class='users-container'>
  <h2><%= @user.username %></h2>
</div>
<h2>Memes</h2>
<a href='/memes/new' class='link'>
  <div>Create a new meme</div>
</a>
<a href='/users/<%= @user.id %>/memes' class='link'>
  <div>View my saved memes</div>
</a>
