<h2 class='header2'>Sign up</h2>
<div class='form-container'>
  <form action='/signup' method='POST'>
    <input type='text' name='user[username]' placeholder='Username' id='username' class='text-input' required pattern="\w+" title="Alphanumeric characters, including underscore">
    <input type='password' name='user[password]' placeholder='Password' id='password' class='text-input' required pattern=".{8,}" title="At least eight characters" >
    <input type='submit' class='submit-button' value='Sign up'>
  </form>
</div>
