<!DOCTYPE html>
  <head>
    <title>Meme Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
  </head>
  <body>
    <div id='layout' class='layout'>
      <%= yield %>
    </div>
  </body>
  <%= js_custom %>
</html>
